* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #7d2ae8;
}

form {
  background: #fff;
  width: 450px;
  padding: 30px;
  border-radius: 5px;
}

form header {
  color: #7d2ae8;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

form .url-input {
  margin: 30px 0;
}

.url-input .title {
  font-size: 18px;
  color: #373737;
}

.url-input .field {
  height: 50px;
  width: 100%;
  margin-top: 5px;
}

.url-input .field input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 15px;
  padding: 0 15px;
  background: #f1f1f7;
  border-bottom: 2px solid #ccc;
  font-family: "Courier New", Courier, monospace;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid #7d2ae8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

form .preview-area {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  border: 2px dashed #7d2ae8;
}

.preview-area span {
  color: #7d2ae8;
}

form .download-btn {
  height: 53px;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  background: #7d2ae8;
  border-radius: 5px;
  margin: 30px 0 20px 0;
  cursor: pointer;
}

img {
  width: 100%;
}
